html, body, .container-fluid {
}

img {
  border:1px solid #021a40;
  border-radius: 10px;
}

.mynetwork {
  width: 900px;
  height: 620px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 20px;
  display:inline-block;
  margin-right:10px;
}

.states-screen {
  display:inline-block;
  margin-bottom:10px;
} 

.state-details {
  margin-top:10px;
  height: 250px;
  color: #575B5E;
  font-size: 11px;
  font-family: monospace;
  white-space: pre-wrap;
  border:1px solid #021a40;
  border-radius: 10px;
}