html, body, .container-fluid {
}

.text-input {
  font-size: 16px;
}

.nav-button {
  display: block;
  width: 100%;
  padding: .3rem;
  line-height: 2;
  text-align: center;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: hsla(0,0%,0%,.1);
}
.nav-button.is-selected {
  background-color: var(--color-accent);
}

.nav-button em {
  font-style: normal;
  font-weight: 600;
  color: var(--color-strong);
  pointer-events: none; /* makes it invisible to clicks */
}

.connection-button{
  width: 80%;
  height: 37px;
  margin-top: 5px;
  margin-right: 15px;
}

.scheme-logo {
  border: 0;
  width: 40px;
  text-align: center;
}

.scheme-logo-lg {
  margin-top: 10px;
  border: 0;
  width: 70px;
  text-align: left;
}

.mynetwork {
  width: 930px;
  height: 540px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-left: 15px;
  display:inline-block;
  margin-right:10px;
}

.cassette-select {
  font-size: 10px;
}

.states-screen {
  height: 264px;
  display:inline-block;
  margin-bottom:10px;
} 

.state-details {
  margin-top:10px;
  height: 255px;
  color: #575B5E;
  font-size: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  border:1px solid lightgrey;
  border-radius: 5px;
}

.state-to-buttons{
  margin-top: 10px;
}

.state-button {
  margin-top:2px;
  margin-bottom:2px;
  margin-left:2px;
  margin-right:2px;
  width: 60px;
}

.letter-spacing {
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 2px;
}

.log-output {
  height: 480px;
  color: #575B5E;
  font-size: 11px;
  font-family: monospace;
  white-space: pre-wrap;
  border:1px solid lightgrey;
}

.fits-area {
  height: 580px;
  overflow-y: scroll;
  overflow-x: hidden;
  border:1px solid lightgrey;
  border-radius: 5px;
}

.fits-table-body{
  font-size: 13px;
  font-family: monospace;
}

.fits-table-head{
  font-size: 13px;
  font-weight: 500;
}

.cassette-area{
  border:1px solid lightgrey;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.buffer-5 {
  width: 65px !important;
  font-family: monospace;
  font-size: 13px;
}

.buffer-6 {
  width: 80px !important;
  font-family: monospace;
  font-size: 13px;
}

.buffer-8 {
  width: 100px !important;
  font-family: monospace;
  font-size: 13px;
}

.buffer-12 {
  width: 130px !important;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: 1px;
}

.buffer-16 {
  width: 160px !important;
  font-family: monospace;
  font-size: 13px;
}

.buffer-24 {
  width: 220px !important;
  font-family: monospace;
  font-size: 13px;
}

.buffer-32 {
  width: 330px !important;
  font-family: monospace;
  font-size: 13px;
}

.letter-spacing {
  letter-spacing: 1px;  
}

.fdk-button-block {
  margin-top: 150px;
  width: 80px;
  border:1px;
}

.fdk-button {
  margin-top: 35px;
  margin-bottom: 35px;
}

.main-area {
  margin-top: 20px;
  margin-left: 5px;
}

.buttons-area {
  margin-top: 20px;
  margin-left: 20px;
}

.terminal-screen {
  width: 670px;
}

.navbar-nav button {
 margin-top: 8px;
 margin-left: 20px;
}

a.disabled {
 pointer-events: none;
}

img {
  border:1px solid lightgrey;
  border-radius: 5px;
}

.coordinates-row {
  position: absolute;
  top: -18px;
  left: 24px;
  letter-spacing: 12px;
}

.on-screen-text {
  font-size: 26px;
  font-family: monospace;
  color: white;
  letter-spacing: 4px;
}

.coordinates {
  color: lightgrey;
  font-family: monospace;
  font-size: 13px;
}

.at-screen-row {
  position: absolute;
  top: 0px;
  left: 24px
}

.at-coordinate-row {
  position: absolute;
  top: 10px;
  left: -1px;
}

.A-screen-row {
  position: absolute;
  top: 30px;
  left: 24px;
}

.A-coordinate-row {
  position: absolute;
  top: 40px;
  left: -1px;
}

.B-screen-row {
  position: absolute;
  top: 60px;
  left: 24px
}

.B-coordinate-row {
  position: absolute;
  top: 70px;
  left: -1px;
}

.C-screen-row {
  position: absolute;
  top: 90px;
  left: 24px
}

.C-coordinate-row {
  position: absolute;
  top: 100px;
  left: -1px;
}

.D-screen-row {
  position: absolute;
  top: 120px;
  left: 24px
}

.D-coordinate-row {
  position: absolute;
  top: 130px;
  left: -1px;
}

.E-screen-row {
  position: absolute;
  top: 150px;
  left: 24px
}

.E-coordinate-row {
  position: absolute;
  top: 160px;
  left: -1px;
}

.F-screen-row {
  position: absolute;
  top: 180px;
  left: 24px
}

.F-coordinate-row {
  position: absolute;
  top: 190px;
  left: -1px;
}

.G-screen-row {
  position: absolute;
  top: 210px;
  left: 24px
}

.G-coordinate-row {
  position: absolute;
  top: 220px;
  left: -1px;
}

.H-screen-row {
  position: absolute;
  top: 240px;
  left: 24px
}

.H-coordinate-row {
  position: absolute;
  top: 250px;
  left: -1px;
}

.I-screen-row {
  position: absolute;
  top: 270px;
  left: 24px
}

.I-coordinate-row {
  position: absolute;
  top: 280px;
  left: -1px;
}

.J-screen-row {
  position: absolute;
  top: 300px;
  left: 24px
}

.J-coordinate-row {
  position: absolute;
  top: 310px;
  left: -1px;
}

.K-screen-row {
  position: absolute;
  top: 330px;
  left: 24px
}

.K-coordinate-row {
  position: absolute;
  top: 340px;
  left: -1px;
}

.L-screen-row {
  position: absolute;
  top: 360px;
  left: 24px
}

.L-coordinate-row {
  position: absolute;
  top: 370px;
  left: -1px;
}

.M-screen-row {
  position: absolute;
  top: 390px;
  left: 24px
}

.M-coordinate-row {
  position: absolute;
  top: 400px;
  left: -1px;
}

.N-screen-row {
  position: absolute;
  top: 420px;
  left: 24px
}

.N-coordinate-row {
  position: absolute;
  top: 430px;
  left: -1px;
}

.O-screen-row {
  position: absolute;
  top: 450px;
  left: 24px
}

.O-coordinate-row {
  position: absolute;
  top: 460px;
  left: -1px;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 300;
}

.new-card-form-row {
  margin-bottom: 20px;
}

.control-label {
  font-size: 13px;
  font-weight: 500;
}

input:invalid {
  border: 1px solid red;
}

input:focus:invalid {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.footer {
  text-align: right;
  color: lightgrey;
  margin-right: 10px;
  font-size: 11px;
}
