html, body, .container-fluid {
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.log-output {
  height: 480px;
  color: #575B5E;
  font-size: 8px;
  font-family: monospace;
  white-space: pre-wrap;
  margin-right: 10px;
  border:1px solid #021a40;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

.fdk-button-block {
	margin-top: 150px;
	border:1px;
}

.fdk-button {
	margin-top: 35px;
	margin-bottom: 35px;
}

.main-area {
	margin-top: 20px;
	margin-left: 5px;
}

.buttons-area {
	margin-top: 20px;
	margin-left: 20px;
}

.terminal-screen {
}

img {
   border:1px solid #021a40;
   border-radius: 5px;
}
