<link rel="stylesheet" href="../vendor/bootstrap-3.3.7.css"> 
<link rel="stylesheet" href="../css/styles.css">

<form id="add-new-card-form" class="navbar-form navbar-center">
  <div class="form-group">
    <input type="text" class="form-control buffer-16" id="cardnumber" value="" placeholder="Card Number" required></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control buffer-6" id="exp-date" value="" placeholder="YYMM" required=""></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control buffer-6" id="service-code" value="" placeholder="101" required></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control buffer-6" id="pvk-index" value="" placeholder="1" required></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control buffer-6" id="pvv" value="" placeholder="0000" required></input>
  </div>

  <div class="form-group">
    <input type="text" class="form-control buffer-6" id="cvv" value="" placeholder="000" required></input>
  </div>

  <button type="submit" class="btn btn-default" id="card-inserted">Add</button>
</form>

<!-- <a id="close" href="javascript:window.close()">Close this Window</a> -->
