<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> 
<link rel="stylesheet" href="../css/styles.css">

<script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.js');</script>
<script src="../node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

<div id="container" class="container-fluid">
  <form id="add-new-card-form" class="navbar-form navbar-center">
    <div class="row">
      <div class="col-xs-2">
        <img id="scheme-logo" class="scheme-logo-lg" hidden="true">
      </div>        
      <div class="col-xs-4">
        <label for="cardnumber" class="control-label">Card Number</label>
        <input type="text" class="form-control buffer-24 valid" id="cardnumber" name="cardnumber" value="" placeholder="Card Number" required minlength="16" maxlength="22" ></input>
        <span class="error-block" id="cardnumber-error-block"></span>
      </div>
      <div class="col-xs-4">
        <label for="name" class="control-label">Card Name</label>
        <input type="text" class="form-control buffer-24" id="name" value="" placeholder="Name (optional)"></input>
        <span class="error-block"></span>
      </div>
      <div class="col-xs-1">
        <label for="PIN" class="control-label">PIN</label>
        <input type="text" class="form-control buffer-6" id="PIN" value="" placeholder="PIN" maxlength="6"></input>
        <span class="error-block"></span>
      </div>
    </div>

    <div class="row">      
      <div class="col-xs-2">
        <label for="expiry-date" class="control-label">Expiry Date</label>
        <input type="text" class="form-control buffer-6" id="expiry-date" value="" placeholder="YYMM" maxlength="4" required></input>
        <span class="error-block"></span>
      </div>

      <div class="col-xs-2">
        <label for="service-code" class="control-label">Service Code</label>
        <input type="text" class="form-control buffer-6" id="service-code" value="" placeholder="101" maxlength="3" required></input>
        <span class="error-block"></span>
      </div>

      <div class="col-xs-2">
        <label for="pvk-index" class="control-label">PVK Index</label>
        <input type="text" class="form-control buffer-6" id="pvk-index" value="" placeholder="1" maxlength="1" required></input>
        <span class="error-block"></span>
      </div>
      
      <div class="col-xs-2">
        <label for="pvv" class="control-label">PVV</label>
        <input type="text" class="form-control buffer-6" id="pvv" value="" placeholder="0000" maxlength="4" required></input>
      </div>
      
      <div class="col-xs-2">
        <label for="cvv" class="control-label">CVV</label>
        <input type="text" class="form-control buffer-6" id="cvv" value="" placeholder="000" maxlength="3" required></input>
        <span class="error-block"></span>
      </div>

      <div class="col-xs-2">
        <label for="discr-data" class="control-label">Discr Data</label>
        <input type="text" class="form-control buffer-6" id="discr-data" value="" placeholder="" maxlength="6"></input>
        <span class="error-block"></span>
      </div>     
    </div>
  
    <div class="row">
      <div class="col-xs-3"></div>        
      <div class="col-xs-6">
        <button type="submit" class="btn btn-success btn-block" id="card-added" disabled="true">Add</button>
      </div>
      <div class="col-xs-3"></div>        
    </div>
  </form>
</div>

<!-- <a id="close" href="javascript:window.close()">Close this Window</a> -->
<script>
  const electron = require('electron')
  const ipc = electron.ipcRenderer;
  const settings = require('electron-settings');
  const CardsService = require('../src/services/cards.js');

  let cards = new CardsService(settings);

  var payment_scheme;
  $('#cardnumber').blur(function(){
    payment_scheme = cards.getPaymentScheme($('#cardnumber').val());
    if(payment_scheme){
      $("#scheme-logo").show();
      $("#scheme-logo").attr('src', '../img/' + payment_scheme + '.png')
    } else 
      $("#scheme-logo").hide();
  })

/*
  // Validating cardnumber
  $('#cardnumber').blur(function(){
    console.log('Blur');
    if($('#cardnumber').val().length < 16){
      $("#cardnumber-error-block").html("Must be at least 16 digits long");
    } else {
      $("#cardnumber-error-block").html("");
    }
  })

  // Decorating card number
  var decorated_cardnumber = '';
  setInterval(function() {
    if(decorated_cardnumber != cardnumber){
      decorated_cardnumber = cards.decorateCardNumber(cardnumber);
      $("#cardnumber").val(decorated_cardnumber);
    }
  }, 200);
*/

  $("#add-new-card-form").submit(function(e) {
    e.preventDefault();

    var card = {
      number: $('#cardnumber').val(),
      name: $('#name').val(),
      PIN: $('#PIN').val(),
      expiry_date: $('#expiry-date').val(),
      service_code: $('#service-code').val(),
      pvki: $('#pvk-index').val(),
      pvv: $('#pvv').val(),
      cvv: $('#cvv').val(),
      discretionary_data: $('#discr-data').val(),
    }

    // ipc.send('ui-add-new-card', card);
    // window.close()
  });
</script>